@keyframes dots {
    0% {
        box-shadow: 
			-50px 0 0 0 #c4c4c4,
			-25px 0 0 0 #c4c4c4,
			0px 0 0 0 #c4c4c4,
			25px 0 0 0 #c4c4c4,
			50px 0 0 0 #c4c4c4;
    }
    20% {
        box-shadow: 
			-50px 0 0 3px $blue,
			-25px 0 0 0 #c4c4c4,
			0px 0 0 0 #c4c4c4,
			25px 0 0 0 #c4c4c4,
			50px 0 0 0 #c4c4c4;
    }
    40% {
        box-shadow: 
			-50px 0 0 0 #c4c4c4,
			-25px 0 0 3px $blue,
			0px 0 0 0 #c4c4c4,
			25px 0 0 0 #c4c4c4,
			50px 0 0 0 #c4c4c4;
    }
    60% {
        box-shadow: 
			-50px 0 0 0 #c4c4c4,
			-25px 0 0 0 #c4c4c4,
			0px 0 0 3px $blue,
			25px 0 0 0 #c4c4c4,
			50px 0 0 0 #c4c4c4;
    }
    80% {
        box-shadow: 
			-50px 0 0 0 #c4c4c4,
			-25px 0 0 0 #c4c4c4,
			0px 0 0 0 #c4c4c4,
			25px 0 0 3px $blue,
			50px 0 0 0 #c4c4c4;
    }
    100% {
        box-shadow: 
			-50px 0 0 0 #c4c4c4,
			-25px 0 0 0 #c4c4c4,
			0px 0 0 0 #c4c4c4,
			25px 0 0 0 #c4c4c4,
			50px 0 0 3px $blue;
    }
  }