.btn {
	display: inline-block;
	text-align: center	;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 10px;
	transition: .3s;
	border-radius: 4px;
	border: 1px solid;
	max-width: 100%;
	@media (max-width: 767px) {
		padding: 10px;
	}

	&--white {
		color: $black-light;
		background: $white;
		border-color: #6F6D7B;
		&:focus,
		&:hover {
			background: #d9d9d9;
		}
	}

	&--blue {
		color: $white;
		background: $blue;
		border-color: $white;
		&:focus,
		&:hover {
			background: #2074ac;
		}
	}

	&:focus {
		outline: none;
	}
}