.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	transition: .3s;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(16, 16, 29, 0.9);
	}

	&--black {
		background: #10101d;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		padding: 34px 15px 33px;

		@media (max-width: 991px) {
			padding: 20px 15px;
		}

		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	&__logo {
		position: relative;
		max-width: 245px;
		margin-right: 60px;
		padding: 6px 0;
		z-index: 1;

		@media (max-width: 767px) {
			max-width: 200px;
		}
	}

	&__logo-link {
		display: block;

		&--disabled {
			pointer-events: none;
		}

		&:hover,
		&:focus {
			outline: none;
		}
	}

	&__logo-img {
		display: block;
		width: 100%;
		max-width: 100%;
	}

	&__menu {
		padding-top: 5px;
		margin-left: auto;
		position: relative;
		z-index: 1;

		@media (max-width: 991px) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background: #10101d;
			z-index: -1;
			transition: .3s;
			transform: translateY(-100%);
			border-bottom: 1px solid $white;

			&--active {
				transform: translate(0);
			}
		}
	}

	&__burger {
		display: none;

		@media (max-width: 991px) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			cursor: pointer;
			background-color: transparent;
			border: none;
			outline: none;

			span {
				position: absolute;
				background: $white;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: .3s;
			}

			&:before,
			&:after {
				content: "";
				background: $white;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: .3s;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}

			&:hover {
				span,
				&:before,
				&:after {
					background: $blue;
				}
			}
		}

		&--active {
			&:before {
				transform: translateY(9px) rotate(45deg);
			}

			&:after {
				transform: translateY(-9px) rotate(-45deg);
			}

			span {
				transform: scale(0);
			}
		}
	}

	&__menu-list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: flex-start;
			padding: 75px 15px 15px;
		}

		@media (max-width: 767px) {
			padding-top: 60px;
		}
	}

	&__menu-item {
		margin-right: 60px;

		@media (max-width: 991px) {
			margin-right: 0;
			margin-bottom: 10px;
		}

		&:last-child {
			margin-right: 0;
			@media (max-width: 991px) {
				margin-bottom: 0;
			}
		}
	}

	&__menu-link {
		color: $white;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		text-transform: uppercase;
		transition: .3s;
		text-decoration: none;
		padding: 5px 0;

		@media (max-width: 991px) {
			font-size: 20px;
			line-height: 30px;
		}

		&:hover,
		&:active,
		&:focus {
			color: $blue-dark;
			outline: none;

			@media (max-width: 991px) {
				color: $gray-dark;
			}
		}
	}
}