.steps {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		transition: .3s;
		position: relative;
		width: calc((100% - (30px * 4)) / 5);


		&:hover {
			.work__icon {
				border-color: $blue;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 47px;
			right: -18px;
			width: 6px;
			height: 6px;
			background: #c4c4c4;
			border-radius: 100%;
			animation: dots 2s linear infinite;
			transition: .3s;
			box-shadow: 
					-50px 0 0 0 #c4c4c4,
					-25px 0 0 0 #c4c4c4,
					0px 0 0 0 #c4c4c4,
					25px 0 0 0 #c4c4c4,
					50px 0 0 0 #c4c4c4;
					

			@media (max-width: 767px) {
				top: 36px;
			}
			@media (max-width: 480px) {
				top: 33px;
			}
		}

		&:last-child,
		&:nth-child(5n) {
			&:before {
				display: none;
			}
		}

		@media (max-width: 991px) {
			width: calc((100% - (30px * 4)) / 3);
			&:nth-child(5n){
				&:before {
					display: block;
				}
			}

			&:last-child,
			&:nth-child(3n) {
				&:before {
					display: none;
				}
			}
		}

		@media (max-width: 600px) {
			width: calc((100% - (30px * 4)) / 2);

			&:nth-child(odd) {
				&:before {
					display: block;
				}
			}

			&:nth-child(even),
			&:last-child {
				&:before {
					display: none;
				}
			}
		}

		@media (max-width: 480px) {
			width: 43%;

			&:nth-child(odd) {
				&:before {
					width: 4px;
					height: 4px;
				}
			}
		}
	}

	&__icon {
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: $blue;
		border: 5px solid #286690;
		margin-bottom: 20px;
		transition: .3s;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 55px;
			height: 55px;
			transition: 1s;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			transform: translate(-50%, -50%);
		}

		@media (max-width: 767px) {
			width: 80px;
			height: 80px;
			margin-bottom: 15px;

			&:before {
				width: 45px;
				height: 45px;
			}
		}

		@media (max-width: 480px) {
			width: 70px;
			height: 70px;
			margin-bottom: 10px;

			&:before {
				width: 35px;
				height: 35px;
			}
		}

		&--search {
			&:before {
				background-image: url("@img/svg/work__search.svg");
			}
		}

		&--percent {
			&:before {
				background-image: url("@img/svg/work__percent.svg");
			}
		}

		&--doc {
			&:before {
				background-image: url("@img/svg/work__doc.svg");
			}
		}

		&--letter {
			&:before {
				background-image: url("@img/svg/work__letter.svg");
			}
		}

		&--money {
			&:before {
				background-image: url("@img/svg/work__money.svg");
			}
		}
	}

	&__text {
		color: $white;
		font-size: 16px;
		text-align: center;
		max-width: 190px;
	}
}